{
  "QUESTION_FUNCTION": "TYPE IT IN FORMAT LIKE ['function', 'dictionary for function', 'start message(question)'], FOR INSTANCE ['contact', 'question_form_1', 'question_1']",
  "MEDIA_FUNCTION": "TYPE IT IN FORMAT LIKE ['send_media', 'type (image, audio, video)', 'path to the media file'], FOR INSTANCE ['send_media', 'image', 'media_samples/image.jpg']",
  "CANCEL_FUNCTION": "PUT ['cancel', 'message after cancel'] into 'msg' whatever you want, and give name btn that is equal msg number.",


  "telegram_bot_token": "",

  "buttons": {
    "btn1": "",
    "btn2": "",
    "btn3": "Send order",
    "btn4": "Cancel",
    "btn5": "",
    "btn6": "",
    "btn7": "",
    "btn8": "",
    "btn9": "",
    "btn10": "",
    "btn11": "Yes, send me media",
    "btn12": "Contact us",
    "btn13": "Main Menu",
    "btn14": "",
    "btn15": "Google Form",
    "btn16": "Media TEST",
    "btn17": "Make order",
    "btn18": "Get image",
    "btn19": "Get audio",
    "btn20": "Get video",
    "btn21": "",
    "btn22": "",
    "btn23": "",
    "btn24": "",
    "btn25": "",
    "btn26": "",
    "btn27": "",
    "btn28": "",
    "btn29": "",
    "btn30": ""
  },

  "messages": {
    "msg1": "",
    "msg2": "",
    "msg3": "",
    "msg4": ["cancel", "IN built_in_buttons cancel_message"],
    "msg5": "",
    "msg6": "",
    "msg7": "",
    "msg8": "",
    "msg9": "",
    "msg10": "",
    "msg11": "",
    "msg12": ["question_form", "question_form_2", "question_1"],
    "msg13": "Main menu",
    "msg14": "",
    "msg15": "https://docs.google.com/",
    "msg16": "Media TEST",
    "msg17": ["question_form", "question_form_1", "question_1"],
    "msg18": ["send_media", "image", "media_samples/image.jpg"],
    "msg19": ["send_media", "audio", "media_samples/audio.mp3"],
    "msg20": ["send_media", "video", "media_samples/video.mp4"],
    "msg21": "",
    "msg22": "",
    "msg23": "",
    "msg24": "",
    "msg25": "",
    "msg26": "",
    "msg27": "",
    "msg28": "",
    "msg29": "",
    "msg30": ""
  },

  "built_in": {
    "FOR INSTANCE": "main_menu BUTTON IS EQUAL btn13",
    "main_menu": "btn13",
    "main_menu_message": "",
    "main_keyboard":"btn1",
    "cancel_button": "btn4",
    "cancel_message": "canceled, type /start for beginning",
    "thanks_question_form": ""
  },

  "question_form_1": {
    "question_1": "",
    "question_2": "",
    "question_3": "",
    "question_4": "",
    "question_5": "",
    "question_6": "",
    "question_7": "",
    "question_8": "",
    "question_9": ""
  },

  "question_form_2": {
    "question_1": "",
    "question_2": "",
    "question_3": "",
    "question_4": ""
  },

  "keyboards": {
    "keyboard_1_btn_1": "btn2",
    "keyboard_1_btn_2": "btn3",
    "keyboard_1_btn_3": "btn12",
    "keyboard_1_btn_4": "btn16",
    "keyboard_1_btn_5": "btn15",

    "keyboard_2_btn_1": "btn5",
    "keyboard_2_btn_2": "btn6",
    "keyboard_2_btn_3": "btn7",
    "keyboard_2_btn_4": "btn13",
    "keyboard_2_btn_5": "",

    "keyboard_3_btn_1": "btn8",
    "keyboard_3_btn_2": "btn9",
    "keyboard_3_btn_3": "btn10",
    "keyboard_3_btn_4": "btn13",
    "keyboard_3_btn_5": "",

    "keyboard_4_btn_1": "",
    "keyboard_4_btn_2": "btn4",
    "keyboard_4_btn_3": "",
    "keyboard_4_btn_4": "",
    "keyboard_4_btn_5": "",

    "keyboard_5_btn_1": "btn17",
    "keyboard_5_btn_2": "btn12",
    "keyboard_5_btn_3": "btn13",
    "keyboard_5_btn_4": "",
    "keyboard_5_btn_5": "",

    "keyboard_6_btn_1": "btn12",
    "keyboard_6_btn_2": "btn13",
    "keyboard_6_btn_3": "",
    "keyboard_6_btn_4": "",
    "keyboard_6_btn_5": "",

    "keyboard_7_btn_1": "btn18",
    "keyboard_7_btn_2": "btn19",
    "keyboard_7_btn_3": "btn20",
    "keyboard_7_btn_4": "btn13",
    "keyboard_7_btn_5": "",

    "keyboard_8_btn_1": "btn11",
    "keyboard_8_btn_2": "",
    "keyboard_8_btn_3": "",
    "keyboard_8_btn_4": "",
    "keyboard_8_btn_5": "",

    "keyboard_9_btn_1": "",
    "keyboard_9_btn_2": "",
    "keyboard_9_btn_3": "",
    "keyboard_9_btn_4": "",
    "keyboard_9_btn_5": "",

    "keyboard_10_btn_1": "",
    "keyboard_10_btn_2": "",
    "keyboard_10_btn_3": "",
    "keyboard_10_btn_4": "",
    "keyboard_10_btn_5": "",

    "keyboard_11_btn_1": "",
    "keyboard_11_btn_2": "",
    "keyboard_11_btn_3": "",
    "keyboard_11_btn_4": "",
    "keyboard_11_btn_5": "",

    "keyboard_12_btn_1": "",
    "keyboard_12_btn_2": "",
    "keyboard_12_btn_3": "",
    "keyboard_12_btn_4": "",
    "keyboard_12_btn_5": "",

    "keyboard_13_btn_1": "",
    "keyboard_13_btn_2": "",
    "keyboard_13_btn_3": "",
    "keyboard_13_btn_4": "",
    "keyboard_13_btn_5": "",

    "keyboard_14_btn_1": "",
    "keyboard_14_btn_2": "",
    "keyboard_14_btn_3": "",
    "keyboard_14_btn_4": "",
    "keyboard_14_btn_5": "",


    "keyboard_15_btn_1": "",
    "keyboard_15_btn_2": "",
    "keyboard_15_btn_3": "",
    "keyboard_15_btn_4": "",
    "keyboard_15_btn_5": ""
  },

  "button_on_keyboard": {
    "btn1": "keyboard_1",
    "btn2": "keyboard_2",
    "btn3": "keyboard_3",
    "btn4": "keyboard_4",
    "btn5": "keyboard_2",
    "btn6": "keyboard_2",
    "btn7": "keyboard_2",
    "btn8": "keyboard_5",
    "btn9": "keyboard_5",
    "btn10": "keyboard_6",
    "btn11": "keyboard_1",
    "btn12": "keyboard_4",
    "btn13": "keyboard_1",
    "btn14": "keyboard_1",
    "btn15": "keyboard_1",
    "btn16": "keyboard_7",
    "btn17": "keyboard_4",
    "btn18": "keyboard_8",
    "btn19": "keyboard_8",
    "btn20": "keyboard_8",
    "btn21": "keyboard_1",
    "btn22": "keyboard_1",
    "btn23": "keyboard_1",
    "btn24": "keyboard_1",
    "btn25": "keyboard_1",
    "btn26": "keyboard_1",
    "btn27": "keyboard_1",
    "btn28": "keyboard_1",
    "btn29": "keyboard_1",
    "btn30": "keyboard_1"
  }
}
