{
  "telegram_bot_token": "",

  "buttons": {
    "contact_button": "",
    "order_button": "",
    "cancel_button": "",
    "main_menu_button": "",
    "btn1": "",
    "btn2": "",
    "btn3": "",
    "btn4": "",
    "btn5": "",
    "btn6": "",
    "btn7": "",
    "btn8": "",
    "btn9": "",
    "btn10": "",
    "btn11": "",
    "btn12": "",
    "btn13": "",
    "btn14": "",
    "btn15": "",
    "btn16": "",
    "btn17": "",
    "btn18": "",
    "btn19": "",
    "btn20": ""
  },

  "messages": {
    "contact_message": "",
    "order_message": "",
    "cancel_message": "",
    "after_order_message": "",
    "main_menu_msg": "",
    "msg1": "",
    "msg2": "",
    "msg3": "",
    "msg4": "",
    "msg5": "",
    "msg6": "",
    "msg7": "",
    "msg8": "",
    "msg9": "",
    "msg10": "",
    "msg11": "",
    "msg12": "",
    "msg13": "",
    "msg14": "",
    "msg15": "",
    "msg16": "",
    "msg17": "",
    "msg18": "",
    "msg19": "",
    "msg20": ""
  },

  "order_data": {
    "ord1": "",
    "ord2": "",
    "ord3": "",
    "ord4": "",
    "ord5": "",
    "ord6": "",
    "ord7": "",
    "ord8": "",
    "ord9": ""
  },

  "add_vars": {
    "name": "Name",
    "phone": "Phone"
  },

  "keyboards": {
    "keyboard_1_btn_1": "btn2",
    "keyboard_1_btn_2": "btn3",
    "keyboard_1_btn_3": "contact_button",
    "keyboard_1_btn_4": "",
    "keyboard_1_btn_5": "",
    "keyboard_1_ReplyKeyboardRemove": "False",

    "keyboard_2_btn_1": "btn5",
    "keyboard_2_btn_2": "btn6",
    "keyboard_2_btn_3": "btn7",
    "keyboard_2_btn_4": "main_menu_button",
    "keyboard_2_btn_5": "",
    "keyboard_2_ReplyKeyboardRemove": "False",

    "keyboard_3_btn_1": "btn8",
    "keyboard_3_btn_2": "btn9",
    "keyboard_3_btn_3": "btn10",
    "keyboard_3_btn_4": "main_menu_button",
    "keyboard_3_btn_5": "",
    "keyboard_3_ReplyKeyboardRemove": "False",

    "keyboard_4_btn_1": "cancel_button",
    "keyboard_4_btn_2": "",
    "keyboard_4_btn_3": "",
    "keyboard_4_btn_4": "",
    "keyboard_4_btn_5": "",
    "keyboard_4_ReplyKeyboardRemove": "False",

    "keyboard_5_btn_1": "contact_button",
    "keyboard_5_btn_2": "order_button",
    "keyboard_5_btn_3": "main_menu_button",
    "keyboard_5_btn_4": "",
    "keyboard_5_btn_5": "",
    "keyboard_5_ReplyKeyboardRemove": "False"
  },

  "button_belong_keyboard": {
    "contact_button": "keyboard_4",
    "order_button": "keyboard_4",
    "main_menu_button": "keyboard_1",
    "btn1": "keyboard_2",
    "btn2": "keyboard_2",
    "btn3": "keyboard_3",
    "btn4": "keyboard_1",
    "btn5": "keyboard_5",
    "btn6": "keyboard_4",
    "btn7": "keyboard_5",
    "btn8": "keyboard_5",
    "btn9": "keyboard_5",
    "btn10": "keyboard_4",
    "btn11": "keyboard_1",
    "btn12": "keyboard_1",
    "btn13": "keyboard_1",
    "btn14": "keyboard_1",
    "btn15": "keyboard_1",
    "btn16": "keyboard_1",
    "btn17": "keyboard_1",
    "btn18": "keyboard_1",
    "btn19": "keyboard_1",
    "btn20": "keyboard_1"
  },

  "btn_call_contact_form_after": {
    "btn1": "False",
    "btn2": "False",
    "btn3": "False",
    "btn4": "False",
    "btn5": "False",
    "btn6": "True",
    "btn7": "False",
    "btn8": "False",
    "btn9": "False",
    "btn10": "True",
    "btn11": "False",
    "btn12": "False",
    "btn13": "False",
    "btn14": "False",
    "btn15": "False",
    "btn16": "False",
    "btn17": "False",
    "btn18": "False",
    "btn19": "False",
    "btn20": "False"
  }
}
