{
  "telegram_bot_token": "",

  "buttons": {
    "btn1": "start",
    "btn2": "",
    "btn3": "",
    "btn4": "",
    "btn5": "",
    "btn6": "",
    "btn7": "",
    "btn8": "",
    "btn9": "",
    "btn10": "",
    "btn11": "",
    "btn12": "",
    "btn13": "",
    "btn14": "",
    "btn15": "",
    "btn16": "",
    "btn17": "",
    "btn18": "",
    "btn19": "",
    "btn20": ""
  },

  "messages": {
    "msg1": "",
    "msg2": "",
    "msg3": "",
    "msg4": "",
    "msg5": "",
    "msg6": "",
    "msg7": "",
    "msg8": "",
    "msg9": "",
    "msg10": "",
    "msg11": "",
    "msg12": "",
    "msg13": "",
    "msg14": "",
    "msg15": "",
    "msg16": "",
    "msg17": "",
    "msg18": "",
    "msg19": "",
    "msg20": ""
  },

  "order_data": {
    "ord1": "",
    "ord2": "",
    "ord3": "",
    "ord4": "",
    "ord5": "",
    "ord6": "",
    "ord7": "",
    "ord8": "",
    "ord9": "",
    "ord10": ""
  },

  "name_vars": {
    "nv1": "",
    "nv2": "",
    "nv3": "",
    "nv4": "",
    "nv5": "",
    "nv6": "",
    "nv7": "",
    "nv8": "",
    "nv9": "",
    "nv10": ""
  }
}
