{
  "ALLOWED_FUNCTIONS": "TYPE IT IN FORMAT LIKE ['function', 'message'], FOR INSTANCE ['contact', 'Hello, type you name and phone, we will call you']",
  "ALLOWED_FUNCTIONS_": "leave_contacts, leave_order, send_image, send_audio, send_video, cancel",
  "END_INFO_INFO_INFO": "______________________________________________________________________________________________________________________________________________",

  "telegram_bot_token": "xxx",

  "buttons": {
    "btn1": "",
    "btn2": "",
    "btn3": "",
    "btn4": "",
    "btn5": "",
    "btn6": "",
    "btn7": "",
    "btn8": "",
    "btn9": "",
    "btn10": "",
    "btn11": "",
    "btn12": "",
    "btn13": "",
    "btn14": "",
    "btn15": "form",
    "btn16": "Media TEST",
    "btn17": "",
    "btn18": "send_image",
    "btn19": "send_audio",
    "btn20": "send_video",
    "btn21": "",
    "btn22": "",
    "btn23": "",
    "btn24": "",
    "btn25": "",
    "btn26": "",
    "btn27": "",
    "btn28": "",
    "btn29": "",
    "btn30": ""
  },

  "messages": {
    "msg1": "",
    "msg2": "",
    "msg3": "",
    "msg4": ["cancel", " /start"],
    "msg5": "",
    "msg6": "",
    "msg7": "",
    "msg8": "",
    "msg9": "",
    "msg10": "",
    "msg11": "",
    "msg12": ["leave_contacts", ""],
    "msg13": "",
    "msg14": "",
    "msg15": "https://docs.google.com/forms/d/e/1FAIpQLScsYZWyWUdp25x4-_dM5jj4nsFH0pMtoUkk3qdX4DSxccpEBA/viewform?usp=sf_link",
    "msg16": "",
    "msg17": ["leave_order", ""],
    "msg18": ["send_image", "send_image_msg"],
    "msg19": ["send_audio", "send_audio_msg"],
    "msg20": ["send_video", "send_video_msg"],
    "msg21": "",
    "msg22": "",
    "msg23": "",
    "msg24": "",
    "msg25": "",
    "msg26": "",
    "msg27": "",
    "msg28": "",
    "msg29": "",
    "msg30": ""
  },

  "order_data": {
    "ord_question_1": "",
    "ord_question_2": "",
    "ord_question_3": "",
    "ord_question_4": "",
    "ord_question_5": "",
    "ord_question_6": "",
    "ord_question_7": "",
    "ord_question_8": "",
    "ord_question_9": ""
  },

  "keyboards": {
    "keyboard_1_btn_1": "btn2",
    "keyboard_1_btn_2": "btn3",
    "keyboard_1_btn_3": "btn12",
    "keyboard_1_btn_4": "btn16",
    "keyboard_1_btn_5": "btn15",

    "keyboard_2_btn_1": "btn5",
    "keyboard_2_btn_2": "btn6",
    "keyboard_2_btn_3": "btn7",
    "keyboard_2_btn_4": "btn13",
    "keyboard_2_btn_5": "",

    "keyboard_3_btn_1": "btn8",
    "keyboard_3_btn_2": "btn9",
    "keyboard_3_btn_3": "btn10",
    "keyboard_3_btn_4": "btn13",
    "keyboard_3_btn_5": "",

    "keyboard_4_btn_1": "",
    "keyboard_4_btn_2": "btn4",
    "keyboard_4_btn_3": "",
    "keyboard_4_btn_4": "",
    "keyboard_4_btn_5": "",

    "keyboard_5_btn_1": "btn17",
    "keyboard_5_btn_2": "btn12",
    "keyboard_5_btn_3": "btn13",
    "keyboard_5_btn_4": "",
    "keyboard_5_btn_5": "",

    "keyboard_6_btn_1": "btn12",
    "keyboard_6_btn_2": "btn13",
    "keyboard_6_btn_3": "",
    "keyboard_6_btn_4": "",
    "keyboard_6_btn_5": "",

    "keyboard_7_btn_1": "btn18",
    "keyboard_7_btn_2": "btn19",
    "keyboard_7_btn_3": "btn20",
    "keyboard_7_btn_4": "btn13",
    "keyboard_7_btn_5": "",

    "keyboard_8_btn_1": "btn11",
    "keyboard_8_btn_2": "",
    "keyboard_8_btn_3": "",
    "keyboard_8_btn_4": "",
    "keyboard_8_btn_5": "",

    "keyboard_9_btn_1": "btn14",
    "keyboard_9_btn_2": "btn4",
    "keyboard_9_btn_3": "",
    "keyboard_9_btn_4": "",
    "keyboard_9_btn_5": "",

    "keyboard_10_btn_1": "",
    "keyboard_10_btn_2": "",
    "keyboard_10_btn_3": "",
    "keyboard_10_btn_4": "",
    "keyboard_10_btn_5": "",

    "keyboard_11_btn_1": "",
    "keyboard_11_btn_2": "",
    "keyboard_11_btn_3": "",
    "keyboard_11_btn_4": "",
    "keyboard_11_btn_5": "",

    "keyboard_12_btn_1": "",
    "keyboard_12_btn_2": "",
    "keyboard_12_btn_3": "",
    "keyboard_12_btn_4": "",
    "keyboard_12_btn_5": "",

    "keyboard_13_btn_1": "",
    "keyboard_13_btn_2": "",
    "keyboard_13_btn_3": "",
    "keyboard_13_btn_4": "",
    "keyboard_13_btn_5": "",

    "keyboard_14_btn_1": "",
    "keyboard_14_btn_2": "",
    "keyboard_14_btn_3": "",
    "keyboard_14_btn_4": "",
    "keyboard_14_btn_5": "",


    "keyboard_15_btn_1": "",
    "keyboard_15_btn_2": "",
    "keyboard_15_btn_3": "",
    "keyboard_15_btn_4": "",
    "keyboard_15_btn_5": ""
  },

  "built_in": {
    "FOR INSTANCE": "main_menu BUTTON IS EQUAL btn13",
    "main_menu": "btn13",
    "main_menu_message": "",
    "main_keyboard":"btn1",
    "cancel_button": "btn4",
    "cancel_message": "",
    "name": "",
    "phone": "",
    "tnahks": "",
    "thanks_for_order": ""
  },

  "button_belong_keyboard": {
    "btn1": "keyboard_1",
    "btn2": "keyboard_2",
    "btn3": "keyboard_3",
    "btn4": "keyboard_4",
    "btn5": "keyboard_2",
    "btn6": "keyboard_2",
    "btn7": "keyboard_2",
    "btn8": "keyboard_5",
    "btn9": "keyboard_5",
    "btn10": "keyboard_6",
    "btn11": "keyboard_1",
    "btn12": "keyboard_4",
    "btn13": "keyboard_1",
    "btn14": "keyboard_1",
    "btn15": "keyboard_1",
    "btn16": "keyboard_7",
    "btn17": "keyboard_9",
    "btn18": "keyboard_8",
    "btn19": "keyboard_8",
    "btn20": "keyboard_8",
    "btn21": "keyboard_1",
    "btn22": "keyboard_1",
    "btn23": "keyboard_1",
    "btn24": "keyboard_1",
    "btn25": "keyboard_1",
    "btn26": "keyboard_1",
    "btn27": "keyboard_1",
    "btn28": "keyboard_1",
    "btn29": "keyboard_1",
    "btn30": "keyboard_1"
  }
}
